.container{
    margin-bottom: 20px;
}
.slide-colors{
    background-color: #FDE6E0;
}
.slide-image{
    height: 450px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #C7235C;
}
.Order-now-button{
    background: #E5236D;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    height: 35px;
}
.cat img{
    height: 100px;
    
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    color: black;
    border-radius: 10px;
}
.cat1{
    background: purple;
    
}
.cat2{
    background: blue;
}
.cat3{
    background: slateblue;
}
.card img{
    height: 350px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
}
.card-footer{
    border: none;
    background: white;
}
#suscribe{
    background-color: #FDE6E0;
}
.hexca{
    padding:50px 0px;
}
footer{
    text-align: center;
}